Package: bodhibuilder
Version: 0.05
Section: main
Priority: optional
Depends: memtest86+, coreutils, dialog, mkisofs | genisoimage, findutils, bash, passwd, sed, squashfs-tools, casper, rsync, mount, eject, libdebian-installer4, os-prober, ubiquity-frontend-debconf, user-setup, discover1 | discover, laptop-detect, syslinux, util-linux, xresprobe, python, python-glade2, python-vte, plymouth-x11
Conflicts: remastersys, remastersys-gtk
Provides: remastersys, remastersys-gtk
Architecture: all
Maintainer: Jeff Hoogland
#Vcs-Browser: https://github.com/Deepspeed/bodhi3packages
Description: Scripts used for building Bodhi Linux ISO images
 A set of scripts based on remastersys to build bodhi ISO images

